html {
	background-image: url(/assets/images/clock1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.container {
	vertical-align: middle;
	margin-top: 105px;
	float: right;
}

.title {
	display: block;
	font-size: 7rem;
}

.timer-container {
	display: block;
	text-align: center;
	border-radius: 25px;
	padding: 15px;
	background-color: rgba(153, 153, 153, 0.8);
	margin: auto;
	margin-top: 35px;
	width: 40%;
}

.timer {
	color: aliceblue;
	font-size: 5rem;
	display: block;
	text-align: center;
}

.btn-lg {
	display: block;
	margin-top: 25px;
	text-align:center;
	margin:auto;
}

.mode {
	display: block;
	padding-top: 15px;
	color: white;
	font: 1.5rem raleway, sans-serif;
}

.sidebar {
	display: block;
	float:left;
	position: fixed;
	top: 205px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	background: rgba(153, 153, 153, 0.8);
}

.form {
	margin-bottom: 15px;
}

.task-text .btn-sm {
	margin: 10px;
}

.task-text {
	text-transform: capitalize;
}

.btn-sm {
	margin-left: 10px;
}
