body {
	background-image: url(/assets/images/clock1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
@media (max-width: 768px) {
	.container {
		display: block;
	}

	.title {
		display: block;
		font-size: 6rem;
	}

	.timer-container {
		text-align: center;
		border-radius: 25px;
		padding: 15px;
		background-color: rgba(153, 153, 153, 0.8);
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 15px;
	}

	.timer {
		margin-top: 10px;
		display: block;
		color: aliceblue;
		font-size: 5rem;
		text-align: center;
	}

	.task-title {
		font: 3rem raleway, sans-serif;
		display: block;
		text-align: center;
		padding-top: 10px;
	}

	.btn-lg {
		display: block;
		margin-top: 15px;
		text-align: center;
		margin:auto;
		padding-top: 15px;
	}

	.mode {
		display: block;
		padding-top: 15px;
		color: white;
		font: 1.5rem raleway, sans-serif;
	}

	.sidebar {
		position: relative;
		border-radius: 25px;
		margin-left: 15px;
		margin-right: 15px;
		padding-bottom: 8px;
		background: rgba(153, 153, 153, 0.8);
	}

	.form {
		margin-bottom: 15px;
	}

	.task-text .btn-sm {
		margin: 10px;
	}

	.task-text {
		text-transform: capitalize;
	}

	.btn-sm {
		margin-left: 10px;
	}

	.add-task-btn {
		display: block;
		margin: auto;
	}

	.form-control {
		margin-bottom: 15px;
	}

	.counter {
		display: inline-block;
		float: right;
	}
}



@media (min-width: 768px) {
	.container {
		display: inline-block;
		padding: 25px;
		margin-top: 105px;
		float: right;
	}

	.title {
		display: block;
		font-size: 7rem;
	}

	.timer-container {
		display: block;
		text-align: center;
		border-radius: 25px;
		padding: 15px;
		background-color: rgba(153, 153, 153, 0.8);
		margin: auto;
		margin-top: 35px;
		width: 40%;
	}

	.timer {
		color: aliceblue;
		font-size: 5rem;
		display: block;
		text-align: center;
	}

	.btn-lg {
		display: block;
		margin-top: 25px;
		text-align:center;
		margin:auto;
	}

	.mode {
		display: block;
		padding-top: 15px;
		color: white;
		font: 1.5rem raleway, sans-serif;
	}

	.sidebar {
		display: inline-block;
		float:left;
		position: fixed;
		max-width: 450px;
		top: 205px;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		background: rgba(153, 153, 153, 0.8);
	}

	.form {
		margin-bottom: 15px;
	}

	.task-text .btn-sm {
		margin: 10px;
	}

	.task-text {
		text-transform: capitalize;
	}

	.add-task-btn {
		display: block;
		margin: auto;
	}

	.btn-sm {
		margin-left: 10px;
	}

	.form-control {
		margin-bottom: 15px;
	}

	.list-group-item {
		display: block;
	}

	.counter {
		float: right;
	}

	.session-count {
		text-align: center;
	}
