<div class="container col-md-8">
	<h1 class="title text-center">{{title}}</h1>
	<h4 class="title-follower text-center">{{titleFollower}}</h4>

	<timer></timer>
</div>

<div class="sidebar col-md-4">
	<form class="form" ng-submit="addTask()">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="task in tasks | orderBy: 'created_at':'reverse' "><span class="task-text">{{task.task}}</span>
				<button type="button" class="btn btn-sm btn-link" ng-click="removeTask(task)">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</li>
		</ul>
		<div class="task-input">
			<input type="text" ng-model="task" class="form-control" placeholder="Type new task here" />
		</div>
		<div class="add-task-btn">
			<button type="button" class="add-task-btn btn btn-primary"  ng-click="addTask()">{{taskAddButton}}</button>
		</div>
	</form>
</div>
